.stock_form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.sector_card {
  max-width: 400px;
}

/* div.mat-form-field-infix input#search-box {
  background-color: yellow;
  border-bottom-color: #7b1fa2 !important;
  border-bottom-width: 3px !important;
} */
