<h1>{{ pageTitle }}</h1>
<p>Get the price of a stock</p>

<!-- <form [formGroup]="stockForm" (ngSubmit)="onSubmit()" class="stock_form">
  <p>
    <mat-form-field class="symbol_field">
      <input
        matInput
        #symbol
        type="text"
        formControlName="symbol"
        autofocus="true"
        placeholder="Stock symbol"
      />
    </mat-form-field>
  </p>

  <button mat-raised-button color="primary" type="submit">Submit</button>
</form> -->

<mat-form-field>
    <input id="search-box" matInput type="text" placeholder="input stock ticker" aria-label="word" [formControl]="userInput"
      [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" (click)="getStocks(userInput.value)">Submit</button>
<br />

<div>Stock price in USD: {{ stockPrice | currency: 'USD' }}</div>

<hr />
<button mat-raised-button color="accent" (click)="getSectorPerformance()">
  Show Sector Performance
</button>
<br>


<mat-card *ngFor="let sector of sectors" class="sector_card">
  <mat-card-subtitle>
    {{ sector.name }}
  </mat-card-subtitle>
  <mat-card-content>
    {{ sector.performance | percent: '1.1-3' }}
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
  </mat-card-actions>
  <mat-card-footer>{{ sector.lastUpdated | date: 'short' }}</mat-card-footer>
</mat-card>
