<mat-toolbar color="primary">
  <span><a routerLink="/" class="appname">Aventador</a></span>
  <button mat-button [matMenuTriggerFor]="menu">Options</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Option 1</button>
    <button mat-menu-item>Option 2</button>
  </mat-menu>
  <button mat-button *ngIf="!auth.isAuthenticated()" (click)="auth.login()" id="login_button">Log In</button>
  <button mat-button *ngIf="auth.isAuthenticated()" (click)="auth.logout()">Log Out</button>
  <button mat-button *ngIf="auth.isAuthenticated()" routerLink="/profile">Profile</button>
  <button mat-button routerLink="/stocks">Stocks</button>
  <span class="example-spacer"></span>
  <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon"
    *ngIf="auth.isAuthenticated()">verified_user</mat-icon>
</mat-toolbar>

<!-- Application Conetent-->
<div class="router-outlet">
  <h1>Welcome to {{pageTitle}}!</h1>
  <router-outlet></router-outlet>
</div>
