<div class="panel panel-default profile-area">
  <div class="panel-heading">
    <h3>Profile</h3>
  </div>
  <div class="panel-body">
    <img src="{{profile?.picture}}" class="avatar" alt="avatar">
    <div>
      <label><i class="glyphicon glyphicon-user"></i> Nickname</label>
      <h3 class="nickname">{{ profile?.nickname }}</h3>
    </div>
    <pre class="full-profile">{{ profile | json }}</pre>
  </div>
</div>

<mat-card class="profile-card">
  <mat-card-header>
    <div mat-card-avatar class="profile-header-image"></div>
    <mat-card-title>
      <h3>Profile</h3>
    </mat-card-title>
    <mat-card-subtitle>{{ profile?.nickname }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{profile?.avatar}}" alt="User's avatar image">
  <mat-card-content>
    <pre>
        {{ profile | json }}
      </pre>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
