/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* .mat-form-field-placeholder {
  display:block !important;
}
.mat-form-field-placeholder {
  padding: 0px !important;
  } */
