<h4 *ngIf="auth.isAuthenticated()">
  You are logged in! You can now view your <a routerLink="/profile">profile area</a>.
</h4>

<h4 *ngIf="!auth.isAuthenticated()">
  You are not logged in! Please
  <button mat-stroked-button color="primary" (click)="auth.login()">
    Log in
  </button>
  to continue.
</h4>
